a {
  text-decoration: none;
  color: #F012BE;
  opacity: 1;
}

a:hover {
  opacity: 0.8;
}

code, kbd, pre, samp {
    font-family: monospace, monospace!important;
    font-size: 0.90em!important;
}

ul {
  list-style: none;
}
